@import "~bootstrap/scss/bootstrap";

body {
    font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

.min-vh-50 {
    min-height: 50vh;
}
.min-vh-75 {
    min-height: 75vh;
}