@import "~bootstrap/scss/bootstrap";
@import 'animations';

body {
    font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    background: rgba(0,0,0,0.08);
    color: #222;
    // will-change: transform;
}

.min-vh-50 {
    min-height: 50vh;
  }
  
  .min-vh-75 {
    min-height: 75vh;
  }
  
  footer ul li {
    color: #a1a1a6;
  }

.btn {
    border-width: 2px !important;
    font-weight: 500;
}